<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>ProjectManagement</display-name>
  <welcome-file-list>
    <welcome-file>login.html</welcome-file>
  </welcome-file-list>
  
  
<!--   <servlet> -->
<!--   	<servlet-name>loginServlet</servlet-name> -->
<!--   	<servlet-class>com.student.demo1.servlet.LoginServlet</servlet-class> -->
<!--   </servlet> -->
  
<!--   <servlet-mapping> -->
<!--   	<servlet-name>loginServlet</servlet-name> -->
<!--   	<url-pattern>/dologin.do</url-pattern> -->
<!--   </servlet-mapping>   -->
  
  
   <servlet>
        <servlet-name>dispatcher</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>dispatcher</servlet-name>
        <url-pattern>*.html</url-pattern>
    </servlet-mapping>
  
  
   <filter>
  	<filter-name>loginFilter</filter-name>
  	<filter-class>com.project.management.filter.LoginFilter</filter-class>
  </filter>
  
  <filter-mapping>
  	<filter-name>loginFilter</filter-name>
  	<url-pattern>/*</url-pattern>
  </filter-mapping>
  
  
  
  <session-config>
  	<session-timeout>1</session-timeout>
  </session-config>
  
  

</web-app>